.content {
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 20%;
    margin-top: 230px;
}

.textBlock {
    max-width: 760px;
}

.title {
    font-weight: 400;
    font-size: 47px;
    line-height: 110%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.special {
    color: #E79BCA;
    font-weight: 700;
}

.subtitle {
    font-weight: 100;
    font-size: 37px;
    line-height: 43px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}